# Installation Instructions
# To install the dependencies listed in this file, run the following command:
# ```sh
# pip install -r requirements.txt
# ```

aiohttp>=3.8.0
gradio>=4.0.0
httpx>=0.25.0
Pillow>=10.0.0
